#CJExcel_ErrorLog {

	border:1px solid;
	border-color:#000 ;
	margin-top: 10px;
	margin-bottom: 10px;
}

#CJExcel_ErrorLog td {
    text-align:Left;
   border-right:1px solid;
   border-color:#000 ;
	padding: 8px;

}
#CJExcel_ErrorLog tr td:last-child {
    text-align:Left;
   border-right:none;
	padding: 8px;

}
#CJExcel_ErrorLog tr {
   

}

#CJExcel_ErrorLog #CJ_lastErrorRow {
   
border-top:1px solid;
border-color:#000 ;
}

 

